{% load staticfiles %}

<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'recman/styles.css' %}">
    </head>

    <body>

    <a href="{% url 'recipe_new' %}" class="top-menu">Add Recipe</a>

        {% block content %}
        {% endblock %}

    </body>

    </html>