{% extends "recman/base.html" %}

{% block content %}

  	<div class="page-header">
		<h1>{{ recipe.name }}</h1>
		<strong>{{ recipe.description }}</strong>
	</div>

	<div class="recipe-details">

	<strong>Category:</strong> {{ recipe.category }} - {{ recipe.subcategory }}<br />
	<strong>Prep Time:</strong> {{ recipe.prep_time }} {{ recipe.prep_time_uom }}<br />
	<strong>Cook Time:</strong> {{ recipe.cook_time }} {{ recipe.cook_time_uom }}<br />
	<strong>Ready in:</strong> {{ recipe.ready_in }}<br />
	<br />
	<strong>Ingredients</strong><br />
	<ul>
	{% for i in recipe.recipe_detail_set.all %}
		<li>{{ i.qty }} {{ i.uom }} - {{ i.prep }} {{ i.ingredient.name }}</li>
	{% endfor %}
	</ul>
	
	<br />
	<strong>Instructions</strong><br />
	{{ recipe.instructions }}<br />
	<br />
	<strong>Additional Notes</strong><br />
	{{ recipe.notes }}

	</div>

{% endblock content %}