{% load staticfiles %}

<html>
<head>
	<title>Recipes</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'recman/styles.css' %}" />
</head>

<body>

<div class="page-header">
<h1>Recipe List</h1>
</div>

{% for recipe in recipes %}
	<div class="recipe">
		<p><strong><a href="">{{ recipe.name }}</a></strong><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<em>{{ recipe.description }}</em><br />
		&nbsp;&nbsp;&nbsp;&nbsp;{{ recipe.category }} - {{ recipe.subcategory }}</p>
	</div>
{% endfor %}

</body>
</html>
